{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/Cabin.css'%}" />
    <link rel="stylesheet" href="{% static 'css/Laura.css'%}" />
    <link rel="stylesheet" href="{% static 'css/Navbar-Right-Links-Dark-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'css/Source%20Sans%20Pro.css' %}" />
    <link
    rel="stylesheet"
    href="{% static 'css/font-awesome.min.css' %}"
  />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Navbar-Centered-Links-icons.css' %}" />
    
    <title>{% block title %} My Website {% endblock %}</title>
  </head>
  <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
      <!-- Navbar content omitted for brevity -->

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <!-- Navbar links omitted for brevity -->
          <li class="nav-item nav-link"><a class="nav-link active" href="{% url 'ApxbFleetMain:drivers_list' %}">Drivers</a></li>
                  <li class="nav-item nav-link"><a class="nav-link" href="{% url 'ApxbFleetMain:login'%}">Login</a></li>
                  <li class="nav-item nav-link"></li>
          <li class="nav-item nav-link">
            <form action="{% url 'set_language'%}" method="post">
              {% csrf_token %}
              <div class="dropdown">
                <button class="nav-link dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="
                background-color: transparent;
                border: none;
            ">
                  {% get_language_info for request.LANGUAGE_CODE as current_language_info %}
                  <img src="{% static 'flags/' %}{{ request.LANGUAGE_CODE }}.png" alt="{{ request.LANGUAGE_CODE }}" style="height:16px">
                </button>
                <div class="dropdown-menu bg-secondary" aria-labelledby="languageDropdown">
                  {% for language in languages %}
                    {% if language.code != request.LANGUAGE_CODE %}
                      <button class="dropdown-item" type="submit" name="language" value="{{ language.code }}">
                        <img src="{% static 'flags/' %}{{ language.code }}.png" alt="{{ language.code }}" style="height:16px">
                        {{ language.name }}
                      </button>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </form>
            
          </li>
        </ul>
      </div>
    </nav>
    
    {% block content %}{% endblock %}
    
    <footer>
      <div class="container text-center">
        <p>Apxb08 © 2023</p>
      </div>
    </footer>
    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/greyscale.js' %}"></script>
    {% block script %}
    
    {% endblock %}
  </body>
  
  </html>